.signup-form {
  background-color: var(--white);
  color: var(--gray);
  text-align: center;
}

.signup-button {
  margin: .5em;
}

.signup-error-message {
  color: red;
}

.signup-success-message {
  color: var(--dark-green);
}