.btn-container {
  margin: auto 0.5em;
}
.add-btn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 1.8em;
  color: var(--white);
  background-color: var(--dark-green);
  border: 0;
}

.add-btn:hover {
  cursor: pointer;
}