.activity-item-container {
  text-align: center;
  background-color: var(--mid-green);
  border-top: 0.5px solid var(--dark-green);
  border-bottom: 0.5px solid var(--dark-green);
}

h3 {
  font-size: 1em;
  margin: 0.5em;
}