.activities-container {
  width: 20%;
  height: 100vh;
  border-right: 5px solid var(--dark-brown);
}

.activity-header {
  display: flex;
  justify-content: center;
}

.activities-filter-category {
  cursor: pointer;
}

.activities-list {
  margin-top: 0.5em;
}