#title {
  text-align: center;
  font-size: 1.5em;
}
/* .modal-container {
  display: flex;
  flex-direction: column;
  background-color: var(--white);
} */

.btns-container {
  display: flex;
  justify-content: center;
  margin-top: 1.5em;
}

.error-message {
  color: red;
}

.required:before {
  content:"*";
  font-weight:bold;
}

.hours-cal {
  height: 25em;
  padding: 1em;
}