.trip-item-container {
  display: flex;
  background-color: var(--mid-green);
  color: var(--dark-brown);
  width: 45%;
  margin: 1em auto;
  padding: 0.5em;
  text-align: center;
  justify-content: space-between;
}

.trip-item-details {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 0.2em;
}

#date {
  vertical-align: middle;
  padding: 0.5em;
}

.date {
  background-color: var(--white);
  width: 22%;
  padding: 0.5em;
  margin: 0.5em;
  border-radius: 5px;
}

.fa-users {
  padding: 0.2em;
}

a {
  text-decoration: none;
}

/* a:visited {
  text-decoration: none;
} */

.trip-item-container a {
  display: flex;
}

.trip-item-container .share {
  display: flex;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
}