.trip-container {
  display: flex;
  flex-direction: column;
}

.trip-details {
  display: flex;
  width: 100%;
}

.itin-map {
  display: flex;
  width: 100%;
  margin:auto;
}

#map-btn {
  margin:auto;
  font-size: 1.5em;
  cursor: pointer;
}