#add-prompt {
  margin: 3em;
  text-align: center;
}

.trips {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
}

.trip-header {
  display: flex;
  justify-content: center;
}

.trip-body {
  margin: 1.0em;
}