.login-form {
  background-color: var(--dark-green);
  color: var(--white);
  text-align: center;
}

.login-button {
  margin: .5em;
}

.login-error-message {
  color: red;
}

.login-success-message {
  color: var(--dark-green);
}