.login {
  text-align: center;
}

.login-forms {
  display: flex;
  box-sizing: border-box;
}

.login-column {
  flex: 50%;
  padding: 10px;
  height: 60vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-form {
  background-color: var(--dark-green);
  color: var(--white);
  text-align: center;
}

.signup-form {
  background-color: var(--white);
  color: var(--gray);
  text-align: center;
}

.login-button {
  margin: .5em;
}

.login-error-message {
  color: red;
}

.login-success-message {
  color: var(--dark-green);
}

.login ul {
  list-style-type: none;
  text-align: left;
}