@import url('https://fonts.googleapis.com/css?family=Arimo');

:root {
  --dark-brown: #505050;
  --dark-green: #1F9792;
  --mid-green: #9DD7D5;
  --light-green: #C0DDDC;
  --yellow: #FFF4C5;
  --white: #FFFFFF;
  --gray: #C4C4C4;
  --light-gray: #F7F7F7;
  --red: #E14646;
}


input {
  background-color: var(--light-gray);
  border: 0;
  border-bottom: solid 1px var(--dark-green);
  padding: 0.2em;
  margin: 0.1em 0.5em;
}

body {
  background-color: var(--light-green);
  font-family: Arimo;
  margin: 0;
}